@import '../../../styles/variables.scss';

.card {
  border: 2px solid $gray-stroke;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  position: relative;
}

.cardItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 200px;
  row-gap: 5px;
}

.cardRow {
  display: flex;
  column-gap: 50px;
  row-gap: 10px;

  font-weight: 300;
  flex-wrap: wrap;
}
.cardColumn {
  display: flex;
  column-gap: 50px;
  row-gap: 15px;
  flex-direction: column;
  flex: 1;
}
.input {
  border: 0;
  outline: none;
  border-bottom: 1px solid $accent-color;
  width: 87%;
  height: 25px;
}

.test {
  width: 100%;
}

.inputShort {
  border: 0;
  outline: none;
  border-bottom: 1px solid $accent-color;
  width: 40%;
  height: 25px;
  padding-bottom: 0.5rem;
}
.deleteBtn {
  position: absolute;
  right: 5px;
  top: 5px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
