.footer {
  padding: 15px 50px 0 50px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.company {
  font-weight: 300;
  margin-bottom: 15px;
  text-align: center;
}
@media (max-width: 900px) {
  .footer {
    display: none;
  }
}
