.container {
  display: flex;
  justify-content: space-between;
  & img {
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
    }
  }
}
.firstAppList {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 45px;
  margin: 6px 0 20px 0;
}

.secondAppList {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
}

.centralSpan {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
