@import '../../../../styles/variables.scss';

.container {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.checkBox {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.1rem solid $gray-stroke;
  border-radius: 0.15rem;
  transform: translateY(-0.075rem);
  display: grid;
  place-content: center;
  cursor: pointer;
}

.checkBox::before {
  content: '';
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 1px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em $accent-color;
}

.checkBox:checked::before,
.checkBox:checked {
  transform: scale(1);
}

//inline
.containerInline {
  display: flex;
  align-items: center;
  column-gap: 10px;

  // background-color: #f1f0ff;
  background-color: #f1f0ff;

  padding: 11px;
  border-radius: 7px;
}
.checkBoxInline {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.1rem solid $gray-stroke;
  border-radius: 10rem;
  transform: translateY(-0.075rem);
  display: grid;
  place-content: center;
  cursor: pointer;
}

.checkBoxInline::before {
  content: '';
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 10rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em $accent-color;
}

.checkBoxInline:checked::before,
.checkBoxInline:checked {
  transform: scale(1);
}
